.leaderboard-list li,
.feed li,
.salesperson-list li {
	display: flex;
	margin-bottom: 20px;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;

	.salesperson-name {
		line-height: 1em;
		font-size: .8rem;
	}
}
.leaderboard-list li {

	.closed-deals {
		align-self: center;
		order: 1;
		width: 35px;
	}

	img {
		order: 2;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		background-color: $primary-color;
		border: $border;
	}

	.salesperson-name {
		order: 3;
		max-width: 60%;
		padding-top: 6px;
		padding-left: 10px;
	}

	.links-section {
		font-size: .6rem;
		position: absolute;
		left: 95px;
		top: 34px;
		a {
			margin-right: 10px;
		}
	}

	.top-performer-tag,
	.closed-deals span,
	.links-section a span {
		display: none;
	}
}

.feed li {
	align-items: center;

	img {
		border-radius: $radius-tight;
		background-color: $primary-color;
		width: 50px;
		height: 50px;
		border: $border;
	}

	.text-group {
		padding-left: 10px;
	}

	.salesperson-name {
		margin-bottom: 6px;
	}

	.sales-message {
		font-size: .7rem;
	}
}
