main {
	border-top: $border-width dashed $primary-color;
}

.primary-section {
	padding-top: 30px;
	padding-bottom: 30px;
	h2 {
		margin-bottom: 10px;
	}
	.context {
		margin-bottom: 5px;
	}
}

.leaderboard-section {

}

.sales-team-section {

}

.feed-section {

}
