main {
	padding-top: 30px;
}

.primary-sections {
	position: relative;
}

.left-sidebar {
	margin-bottom: 0;
}

.primary-section {
	margin-bottom: 30px;
	h2 {
		margin-bottom: 10px;
	}
	.context {
		margin-bottom: 8px;
	}
}

.profile-list {
	margin-top: 10px;
}

.salesperson-list {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	row-gap: 20px;
	grid-gap: 25px;
}

.sales-team-section {
	.list-controls {
		max-width: 550px;
	}
	.control-group {
		flex-basis: 175px;
	}
	.radio-group {
		margin-bottom: 0;
	}
}

main footer {
	padding-top: 30px;
	font-size: .7rem;
	color: $middle-gray;
}

@media screen and (min-width: $split-breakpoint) {
	.left-sidebar {
		position: fixed;
		width: 245px;
		overflow: auto;
		top: calc(94px + 30px);
		bottom: 0;
		.primary-section {
			position: relative;
			&:before {
				content: "";
				border-top: $border;
				position: absolute;
				top: 15px; left: 0; right: 0; bottom: 0;
			}
		}
		h2 {
			position: relative;
			display: inline-block;
			z-index: 1;
			&:before {
				z-index: -1;
				content: "";
				background: $main-bg;
				position: absolute;
				top: 0; left: -7px; right: -9px; bottom: 0;
			}
		}
	}
	.sales-team-section {
		padding-bottom: 20px;
		width: calc(100% - 245px - 60px);
		position: absolute;
		right: 0;
		top: 0;
		h2 {
			line-height: 1em;
			position: relative;
			display: inline-block;
			z-index: 1;
			&:before {
				z-index: -1;
				content: "";
				background: $main-bg;
				position: absolute;
				top: 0; left: -7px; right: -9px; bottom: 0;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 13px;
			left: -35px;
			right: 0;
			bottom: 0;
			border-left: $border;
			border-top: $border;
			border-top-left-radius: $radius;
		}
	}
}

@media screen and (min-width: $breakpoint-two) {
	.left-sidebar {
		top: calc(69px + 30px);
	}
}
