main {
	border-top: $border-width dashed $primary-color;
}

.primary-section {
	padding-top: 30px;
	margin-bottom: 30px;
	h2 {
		margin-bottom: 10px;
	}
	.context {
		margin-bottom: 8px;
	}
}

.profile-list {
	margin-top: 20px;
}

.leaderboard-section {

}

.sales-team-section {

}

.feed-section {

main footer {
	padding-top: 20px;
	font-size: .7rem;
	color: $middle-gray;
}
