$radius: 10px;
$radius-tight: 6px;

$border-width: 2px;
$border-slim-width: 1px;

$border: $border-width solid $decoration-color;
$border-slim: $border-slim-width solid $decoration-color;

$box-shadow: -7px 7px 0 $decoration-color;
