.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.checkbox {
	font-family: sans-serif;
}

.leaderboard-controls {
	max-width: 300px;
}

.radio-group {
	margin-bottom: 30px;
	border-radius: $radius-tight;
	border: $border-width solid $primary-color;
	box-shadow: $box-shadow;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	.radio-button {
		flex-grow: 1;
		display: inline-block;
		&:not(:last-child) {
			border-right: $border-slim-width solid $primary-color;
		}

		label {
			width: 100%;
			text-align: center;
			display: block;
			line-height: 1rem;
			padding: 10px 0;
			cursor: pointer;
			transition: background .15s ease;
			&:after,
			&:before {
				opacity: 0;
				content: "·";
				-webkit-text-stroke: 1px $primary-color;
				transition: opacity .15s ease;
			}
		}
		input:checked + label {
			background: $secondary-bg;
			&:after,
			&:before {
				opacity: 1;
				transition: opacity .15s .15s ease;
			}
		}
		input:not(:checked) + label:hover {
			background: $tertiary-bg;
		}
	}
}
