$primary-font: 'Overpass Mono';
$secondary-font: 'Poppins';

html {
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: $primary-font;
	font-weight: 600;
}

h1, h2, h3, h4 {
	line-height: 1.2em;
}

p {
	line-height: 1.2em;
}

.context {
	font-size: .9rem;
}

a,
a:link,
a:hover,
a:active,
a:focus {
	color: inherit;
}

h1, h2 {
	font-weight: 700;
}

h3, h4, .context, .closed-deals, .tagline {
	font-family: $secondary-font;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.5rem;
}
